/**
 * Navigation
 */
.nav {
  position: relative;
}

/**
 * Navigation list
 * 1. Undo default styles
 */
.nav ul {
  list-style: none; /* 1 */
  margin: 0.8em 0; /* 1 */
  padding: 0; /* 1 */
}

/**
 * Navigation item
 * 1. Position context for pseudo-element
 */
.nav li {
  padding: 0 10px;
  position: relative; /* 1 */
  display: inline-block;
  margin: 15px 0 0 0; 
}

.nav li:not(:first-child):before {
  content: "&";
  display: inline-block;
  font-size: 0.9em;
  font-family: $site-title-font-stack;
  color: #4C78A4;
  margin-right: 1.5em;
}

/**
 * Navigation links
 */
.nav a {
  text-decoration: none;
  color: #4C78A4;
  font-size: 1.1em;
  font-variant: small-caps;
  font-weight: bold;
  border: 3px solid transparent;
  border-bottom: #4C78A4 3px solid;
  padding: 0.2em 0.7em;
}

.nav a:hover {
  font-weight: bold;
  border: #4C78A4 3px solid;
}

.pagination {
  text-align: center;
  margin-bottom: 1em;
}

.pagination a {
  padding: 5px 10px;
}

.pagination a.active {
  text-decoration: underline;
  font-weight: bold;
}
